<div class="row">
<p id="notice"><%= notice %></p>

<p>
  <h3><%= @blog.title %></h3>
</p>

<p>
  <%= @blog.body %>
</p>

<p>
  <strong>Image:</strong>
  <%= @blog.image %>
</p>
</div>

<!-- <p>
  <strong>published:</strong>
  <%#= @blog.published %>
</p> -->

<%#= link_to 'Edit', edit_blog_path(@blog) %> 
<%#= link_to 'Back', blogs_path %>
