<% content_for :title, "EmailBolt #{@blog.title}" %>
<br />
<div class="row">
				<div class="columns">
					<div class="columns">
					<div class="row"><h4><%= "#{@blog.title}" %></h4></div>
						<div class="clearfix">
							<div class="row right"><%= image_tag "blog/#{@blog.image}" %></div>
      						<div class="row"><%= @blog.body.gsub(/\n/, '<br/>').html_safe %></div>
      						<div class="row"><%#= @blog.published %></div><br />
      					</div>
      				</div>
      			</div>
      		</div>
      		<br /><br />

<!-- <p>
  <strong>published:</strong>
  <%#= @blog.published %>
</p> -->

<%#= link_to 'Edit', edit_blog_path(@blog) %> 
<%#= link_to 'Back', blogs_path %>
