<% @user.bolts.reverse.each do |b| %>
      <!-- Feed Entry -->
      <div class="row">
        <div class="large-2 columns small-3"><!-- <img src="http://placehold.it/80x80&text=[img]" /> --></div>
        <div class="large-10 columns">
          <p><strong>Address: <%= b.address + "@emailbolt.com" %></strong></p>
          <ul class="inline-list">
            <% if b.description != '' %>
            <li>Description: <%= b.description %></li><br />
            <% end %>
            <!-- <li>Id: <%#= b.id %></li><br /> -->
            <!-- <li>RouteID: <%#= b.routeid %></li><br /> -->
            <li><%= "Created: " + b.created_at.asctime %></li><br />
            <li><%= link_to '<button class="button alert">Destroy</button>'.html_safe, b, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </div>
      </div>

      <hr />
       <!-- End Feed Entry -->
    <% end %>