<% content_for :title, "EmailBolt" %>
<style>a.button.right.small-6.large-6.medium-6 {
    color: #ffffff;
}

</style>
<a target="mainPopup" id="google" href="http://www.facebook.com" style="padding:0px;margin:0px;padding-top:20px;padding-bottom:20px;" class="button right small-6 large-6 medium-6">Google</a>
<a target="mainPopup" id="alert" href="http://www.google.com" style="padding:0px;margin:0px;padding-top:20px;padding-bottom:20px;" class="button small-6 large-6 medium-6 left alert">Alert</a>
<a target="mainPopup" id="test" href="http://www.twitter.com" style="color:white;padding:0px;margin:0px;padding-top:20px;padding-bottom:20px;" class="button small-6 large-6 medium-6 success">Test</a>
