<% content_for :title, "EmailBolt" %>
<br />
<div class="row">
    <h3>FAQs</h3><br />
<!-- Main Feed -->
    
    <div class="large-12 columns">
 
      <div class="row">
        <div class="large-12 columns" id="first">
          	<p><strong>Do you gather information about me?</strong> Never. That's not what we do for kicks. There is a ton of information out there tied to your email address. Everytime you use your address to sign up for a mailing list, a website, or post it in a profile, companies are gathering and selling that to the highest bidder. Our goal is to allow you a way out from under their watchful eye.</p>
        </div>
      <!-- End Feed Entry -->
 
        <div class="large-12 columns" id="second">
          	<p><strong>Do you have access to my bolted emails?</strong> Never. The bolts that forward to your permanent email are never really on our servers. The email hits the redirect and goes directly to you without us touching, or looking at, it.</p>
        </div>
      <!-- End Feed Entry -->
 
        <div class="large-12 columns" id="third">
          	<p><strong>There aren't many data points on my email, do I need you?</strong> That's great! We want to let you keep it that way. Sometimes there aren't many data points for newer email address. But, as time goes on, more and more information will be added to your profile and then sold on without your consent.</p>
        </div>
      <!-- End Feed Entry -->

     	<div class="large-12 columns" id="fourth">
     		<p><strong>Where do you get the information that's tied to my email?</strong> We're not into snooping. When you run a check on your email address, we use a combination of services to see what information is available to anyone that wants it but never actually look at it. We don't want it, so we don't pull it.</p>
    	</div>
      <!-- End Feed Entry -->
 

         </div>
         </div>
         </div>

         <%= render ('shared/footer') %>
